# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Ll]ibrary/
[Ll]ogs/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xportedObj/
[O]obj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.vs

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
[Bb]uild/
[Bb]uilds/
[Oo]bj/
[Rr]ecordings